.login-section {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
.login-section h2{
    margin-top: 70px;
}
.google-btn {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
}